.Containter{
    background-color: #424242;
    height: 100vh;
}

.Nav{
    
}

.MenuItem{
    font-family: 'Bebas Neue';
    list-style: none;

}

.MenuButton{
    box-shadow: 1px 10px 12px -1px rgba(0,0,0,0.6);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    text-align: right;
}

.MenuLink{
    text-decoration: none;
    color: white;
    white-space: nowrap;
    margin-right: 20px;
}